@model LabPortugal_Intranet.Models.Producto

@{
    ViewData["Title"] = "DetalleVentaProducto";
}

<h3>Compra Farmaco</h3>

<div>
 
        
    <hr />
    <dl class="row">
        <dt class ="text-lg-start">

            <img width="300" height="280" src="@Url.Action("Imagen","Farmacia", new {id =  Model.id})" />

        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idLaboratorio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idLaboratorio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.codigoBarra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codigoBarra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd class="col-sm-10" id="stock">
            @Html.DisplayFor(model => model.stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.precioUnidad)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:C}", (Model.precioUnidad))
        </dd>
       
    </dl>
</div>
<div>
    <input type="number" style ="width:30%;" id="cantidad" class="form-control numbers" required min="0" />
    <p style="margin-top:10px;">
        <a  href="#" class="agregar btn btn-warning">Agregar Producto</a>
    </p>
  
   
    <a class="btn btn-success" asp-action="VentaProducto">Ir a lista Farmaco</a>
</div>

@section Scripts
    {
    <script>


        $(function () {
            $(".agregar").on("click", function (event) {
                event.preventDefault();

                var ProductoId = $('dl dd').eq(0).text();//$(this).parent().parent().find("dd:eq(0)").text();
                var cantidad = $(this).parent().parent().find("input").val();
                var stockProducto =$('#stock').html().trim();

                console.log(cantidad);
                if(cantidad >= stockProducto){
                    alert("La cantidad es incorrecta");
                    $('#cantidad').val("");
                    console.log(stockProducto);
                    return;
                }

                if(cantidad==stockProducto){
                    alert("La cantidad ingresada debe ser distinto del stock del producto");
                    $('#cantidad').val("");
                    return;
                }
               
                if(cantidad<1){
                    alert("Cantidad ingresada debe ser mayor a 0");
                    $('#cantidad').val("");
                    return;
                }

                if(cantidad >= stockProducto/2){
                    alert("No puede adquirir la mitad de los productos en una sola transacción");
                    $('#cantidad').val("");
                    return;
                }

                $.ajax(
                    {
                        url: "@Url.Action("agregarCarrito","Carrito")",
                        data: { id: ProductoId, cantidad: cantidad },
                        type: "post",   
                        success: function (response) {
                            window.location.href = "@Url.Action("agregarCarrito","Carrito")";
                        },
                        error: function (err, error) {
                            alert(error);
                        }
                    }
                );

            });
        });


        $(".number").keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 40]) !== -1 ||
                (e.keyCode == 65 && e.ctrlkey == true) ||
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }

            if ((e.shiftkey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
            });
    </script>
    }