@{
    ViewBag.Title = "Index";
}


<h2 class="text-center">::: MENU PRINCIPAL :::</h2>
<br />

<div>
    @if (!Context.User.Identity.IsAuthenticated)
    {
     <div>
        <p>
            Hola <b>MIFARMA </b>
        </p>
        <div>
            <a asp-area="" asp-controller="Auth" asp-action="LogOut">LogOut</a>
        </div>
    </div>
    }
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div>
            <p>
                Hola <b>@User.Identity.Name</b>
                
            </p>
        </div>
        <div>
            <a asp-area="" asp-controller="Auth" asp-action="LogOut">LogOut</a>
        </div>
    }
</div>

<table style="font-size:large">
    <tr>
        <td>@Html.ActionLink("Mantenimiento Farmacia", "MantenimientoFarmacia")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Mantenimiento Stock Producto", "MantenimientoStockProducto")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Mantenimiento Orden de Compra", "MantenimientoOrdenCompra")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Venta de Farmacos", "VentaProducto")</td> @*Sebas este es el tuyo*@
    </tr>
</table>
