@model IEnumerable<LabPortugal_Intranet.Models.Producto>


@{
    ViewData["Title"] = "VentaProducto";
}
<h2 class="text-center">:::: VENTA DE FARMACOS::::</h2>
<br />

<p>
    @using (Html.BeginForm())
    {
        <strong>Ingrese  Nombre de Producto</strong>
        <input type="text" name="nombre" value="@ViewBag.nombre" />
        <br />
        <br />
        <strong>Seleccione Tipo de Producto.</strong>
        @Html.DropDownList("id", (SelectList)ViewBag.TipoProducto)
        <br />
        <br />
        <input type="submit" value="BUSCAR" class="btn btn-success" />
        <br />
    }
</p>

<br />

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoBarra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioUnidad)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr style='@(item.stock>0?"":"background-color:#941028;color:white;")'>
           <td>
                    @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.codigoBarra)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.precioUnidad)
            </td>
                @if (item.stock > 0)
                {
                    <td>
                    @Html.ActionLink("Detalle", "DetalleVentaProducto", new {  id=item.id  },new{@class="btn btn-warning"})
                    </td>
                }
                else
                {
                    @*<td>
                    @Html.ActionLink("Agregar Stock", "MantenimientoStockProducto","", new {  id=item.id  })
                    </td>*@
                    <td>
                    <span class="btn btn-warning" style="cursor:not-allowed;">Detalle</span>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>